 /* .App{
  width: 100vw;
  height: 100vh;
}

.main{
    width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .bg{
      background-color: blue;
    }

    .bg1{
      background-color: blueviolet;
    }

    .bg2
    {
      background-color: brown;
    }

    .bg3
    {
      background-color: aqua;
    }

    .bg4{
      background-color: chartreuse;
    }

  */

















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* src/index.css */






/* BabyBoomer Font */
@font-face {
  font-family: 'BabyBoomer';
  src: url('./Fonts/BabyBoomer/Baby\ Boomer.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* DXRigraf SemBdExpIta Font */
@font-face {
  font-family: 'DXRigraf';
  src: url('./Fonts/Rigraf/DXRigraf-SemBdExpIta.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* DXRigraf SemiBold Font */
@font-face {
  font-family: 'DXRigraf';
  src: url('./Fonts/Rigraf/DXRigraf-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* DXRigraf SemiBoldExpanded Font */
@font-face {
  font-family: 'DXRigrafExpanded';
  src: url('./Fonts/Rigraf/DXRigraf-SemiBoldExpanded.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* DXRigraf SemiBoldItalic Font */
@font-face {
  font-family: 'DXRigrafItalic';
  src: url('./Fonts/Rigraf/DXRigraf-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* Apply the fonts globally or to specific classes */
body {
  font-family: 'DXRigraf', sans-serif;
}

.title {
  font-family: 'DXRigraf', sans-serif;
  font-size: 24px;
  color: #333;
}


.expanded-text {
  font-family: 'DXRigrafExpanded', sans-serif;
  font-size: 20px;
  color: #555;
}

.italic-text {
  font-family: 'DXRigrafItalic', sans-serif;
  font-size: 18px;
  color: #666;
}